trigger:
  branches:
    include:
      - main
  paths:
    include:
      - infra/*
      - app/*

variables:
  azureServiceConnection: 'AzureConnection'
  resourceGroup: 'rg-meuprojetoweb-dev'
  location: 'Brazil South'

stages:
- stage: Dev
  displayName: Deploy Dev
  jobs:
  - job: DeployInfra
    pool:
      name: Default   # usa seu agente self-hosted
    steps:
    - checkout: self

    - script: |
        cd infra
        terraform init
        terraform apply -auto-approve
      displayName: 'Terraform Apply'

    - task: AzureWebApp@1
      inputs:
        azureSubscription: $(azureServiceConnection)
        appName: 'node-meuprojetoweb-dev'
        package: '$(System.DefaultWorkingDirectory)/app'
        runtimeStack: 'NODE|18-lts'
        startUpCommand: 'npm start'

- stage: Hml
  displayName: Homologação
  dependsOn: Dev
  condition: succeeded()
  jobs:
  - deployment: ApproveHml
    environment: 'hml'
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo "Aprovação HML necessária"

- stage: Prod
  displayName: Produção
  dependsOn: Hml
  condition: succeeded()
  jobs:
  - deployment: ApproveProd
    environment: 'prod'
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo "Aprovação PROD necessária"
