trigger:
  branches:
    include:
      - main
  paths:
    include:
      - infra/*
      - app/*

variables:
  azureServiceConnection: 'AzureConnection'   # nome da Service Connection criada no Azure DevOps
  resourceGroup: 'rg-meuprojetoweb-dev'       # ajuste para o seu RG real
  location: 'Brazil South'

stages:
- stage: Dev
  displayName: Deploy Dev
  jobs:
  - job: DeployInfra
    pool:
      name: Default   # usa seu agente self-hosted
    steps:
    - checkout: self

    - script: |
        cd infra
        terraform init
        terraform apply -auto-approve
      displayName: 'Terraform Apply'

    - task: NodeTool@0
      displayName: 'Setup Node.js'
      inputs:
        versionSpec: '20.x'

    - script: |
        cd app
        npm ci --cache .npm --prefer-offline
      displayName: 'Install dependencies (usando package-lock.json)'
      workingDirectory: app

    - script: |
        cd app
        npm run build
      displayName: 'Build App'

    - script: |
        cd app
        npm test --if-present
      displayName: 'Run Tests'

    - task: AzureWebApp@1
      displayName: 'Deploy Node App to Azure WebApp (Dev)'
      inputs:
        azureSubscription: $(azureServiceConnection)
        appName: 'node-meuprojetoweb-dev'
        package: '$(System.DefaultWorkingDirectory)/app'
        runtimeStack: 'NODE|18-lts'
        startUpCommand: 'npm start'

- stage: Hml
  displayName: Homologação
  dependsOn: Dev
  condition: succeeded()
  jobs:
  - deployment: ApproveHml
    environment: 'hml'
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo "Aprovação HML necessária"
            displayName: 'Gate de aprovação HML'

- stage: Prod
  displayName: Produção
  dependsOn: Hml
  condition: succeeded()
  jobs:
  - deployment: ApproveProd
    environment: 'prod'
    strategy:
      runOnce:
        deploy:
          steps:
          - script: echo "Aprovação PROD necessária"
            displayName: 'Gate de aprovação PROD'

